#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.spinner {
  animation: spin 1s linear infinite;
  width: 24px;
  height: 24px;
  color: gray;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
